src/main/java/com/wf/yeecode/a02basepackage/a11parsing/xml/members.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
        xmlns="http://www.wf.org/schema/members"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.wf.org/schema/members"
        elementFormDefault="qualified">

    <xs:element name="configuration">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="user">
        <xs:complexType>
            <xs:attribute name="id" use="required"/>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="school" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>